{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">

        <div class="row">
            <div class="col-sm-12">
                <h2>{{ post.title }}</h2>
                <div class="list-group list-group-item">
                    <div class="details">
                        <p class="text-info">Author: {{ post.user.fullName }}</p>
                        <p class="text-info">Created: {{ post.createdAt|date('d/m/Y') }}</p>
                        <p class="text-muted list-group-item-text">{{ post.description|raw }}</p>
                    </div>
                    <div>{{ post.body|raw }}</div>
                </div>
            </div>
        </div>
        <br/>

        {% if app.user and is_granted('ROLE_USER') %}
            <div class="row">
                <div class="col-sm-12">
                    <h2>Add Comment</h2>
                    <div class="list-group list-group-item">
                        <div class="details">
                            {{ render(controller('App\\Controller\\CommentController::add')) }}
                        </div>
                    </div>
                </div>
            </div>
            <br/>
        {% else %}
            <div class="row">
            <div class="col-sm-12">
            <div class="list-group list-group-item">
            <div class="details">
                <p>You have to be authorized to put comment here</p>
            </div>
            </div>
            </div>
            </div>
            <br/>
        {% endif %}

        <div class="row">
            <div class="col-sm-12">
                {{ include('post/comment/list.html.twig', {comments: post.comments}) }}
            </div>
        </div>

    </div>
{% endblock %}